arnm_media:
    pattern:  /araneum/media
    defaults: { _controller: ArnmMediaBundle:Media:index }
arnm_media_new:
    pattern:  /araneum/media/new
    defaults: { _controller: ArnmMediaBundle:Media:new }
arnm_media_edit:
    pattern:  /araneum/media/{id}/edit
    defaults: { _controller: ArnmMediaBundle:Media:edit }
arnm_media_delete:
    pattern:  /araneum/media/{id}/delete
    defaults: { _controller: ArnmMediaBundle:Media:delete }


arnm_media_render:
    pattern:  /media/image/size/{file}
    defaults: { _controller: ArnmMediaBundle:MediaRender:image }
    requirements:
        mode: original|[0-9.]+
        file: .*
        _method:  GET
